<launch>
    <arg name="localization_mode" default="realtime_mapping"/>

    <include file="$(find rhodent_navigation)/launch/$(arg localization_mode).launch">
    </include> 

    <include file="$(find rhodent_navigation)/launch/move_base.launch">
    </include> 

    <node name="room_navigator" pkg="rhodent_navigation" type="room_navigation.py"/>
</launch>