<?xml version="1.0"?>
<robot name="Rhodent502" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/rhodent</robotNamespace>
        </plugin>
    </gazebo>

    <material name="dark_grey">
        <color rgba="0.4 0.4 0.4 1"/>
    </material>

    <material name="aluminium">
        <color rgba="0.7 0.7 0.7 1"/>
    </material>

    <xacro:include filename="$(find rhodent_description)/urdf/rhodent_properties.xacro"/>
    <xacro:include filename="$(find rhodent_description)/urdf/rhodent_wheel.xacro" />
    <xacro:include filename="$(find rhodent_description)/urdf/rhodent_chassis.xacro"/>
    <xacro:include filename="$(find rhodent_description)/urdf/rplidar_a1.xacro"/>
    <xacro:include filename="$(find rhodent_description)/urdf/6dof_imu.xacro"/>
    
    <!-- <link name="map"/>

    <joint name="map_to_odom" type="fixed">
        <parent link="map"/>
        <child link="odom"/>
    </joint>

    <link name="odom"/> -->

    <xacro:rhodent_chassis 
        name = "base" 
        parent = "odom" 
        color = "dark_grey"/>
    <xacro:rhodent_wheel 
        name = "right_wheel" 
        parent = "base_link" 
        translation = "${RIGHT_WHEEL_TRANSL}" 
        rotation = "${RIGHT_WHEEL_ROT}" 
        color = "aluminium" 
        rotate = "0"/>
    <xacro:rhodent_wheel 
        name = "left_wheel"
        parent = "base_link" 
        translation = "${LEFT_WHEEL_TRANSL}" 
        rotation = "${LEFT_WHEEL_ROT}" 
        color = "aluminium" 
        rotate = "${PI}"/>
    <xacro:rplidar_a1 
        prefix = "top" 
        parent = "base_link" 
        offset_from_parent = "${CHASSIS_TO_LIDAR}"
        visualize = "false"
        color = "dark_grey"
        topic = "/rhodent/scan"/>
    <xacro:imu
        prefix = "main" 
        parent = "base_link" 
        offset_from_parent = "${CHASSIS_TO_IMU}"
        visualize = "true"
        topic = "/rhodent/imu"/>

</robot>